:root {
	--base03: #002b36;
	--base02: #073642;
	--base01: #586e75;
	--base00: #657b83;
	--base0: #839496;
	--base1: #93a1a1;
	--base2: #eee8d5;
	--base3: #fdf6e3;
	--yellow: #b58900;
	--orange: #cb4b16;
	--red: #dc322f;
	--magenta: #d33682;
	--violet: #6c71c4;
	--blue: #268bd2;
	--cyan: #2aa198;
	--green: #859900;
}

::selection {
	background-color: var(--base2)
}

a {
	text-decoration: none;
}

body {
	background-color: var(--base2);
	color: var(--base1);
	font-family: Menlo;
}

.box-outer {
	margin: auto;
	width: 40%;
	padding-top: 50px;
}

.box-inner {
	background-color: var(--base3);
	color: var(--base00);
	padding: 5px 20px;
	border-radius: 10px;
}

.linkedin, .linkedin:visited {
	color: var(--blue);
}

.github, .github:visited {
	color: var(--orange);
}
